<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.mentor.mapper.MentorMapper">
	
	<resultMap id="mentoring" type="com.project.www.mentor.dto.Mentoring">
		<id property="mentoring_id" column="mentoring_id" />
		<id property="id" column="id" />
		<id property="title" column="title" />
		<id property="mentoring_content" column="mentoring_content" />
		<id property="rule" column="rule" />
		<id property="time" column="time" />
		<id property="price" column="price" />
		<association property="mentor" javaType="com.project.www.mentor.dto.Mentor">
			<result property="mentor_id" column="mentor_id" />
			<result property="id" column="id" />
			<result property="categorie_num" column="categorie_num" />
			<result property="email" column="email" />
			<result property="name" column="name" />
			<result property="phone" column="phone" />
			<result property="job" column="job" />
			<result property="current" column="current" />
			<result property="mentor_content" column="mentor_content" />
			<result property="career" column="career" />
		</association>
		<association property="mentoringGrade" javaType="com.project.www.mentor.dto.MentoringGrade">
			<result property="mentoring_id" column="mentoring_id" />
			<result property="m_grade" column="m_grade" />
			<result property="id" column="id" />
			<result property="grade_content" column="grade_content" />
			<result property="score" column="score" />
		</association>
	</resultMap>

	<select id="getList" resultMap="mentoring">
		select * from mentor inner join mentoring using(mentor_id, id) order by mentoring_id desc
	</select>

	<sql id="search">
		<if test="condition == 'Mentoring'">
			WHERE content LIKE CONCAT('%',#{keyword},'%')
		</if>
	</sql>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from mentoring
		<include refid="search" ></include>
	</select>

	<select id="getPage" resultMap="mentoring" >
     	select * from mentor inner join mentoring using(mentor_id, id)
     	<include refid="search" ></include>
     	order by mentoring_id desc 
     	limit #{pageNum}, #{countPerPage}
     </select>
</mapper>