<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.www.review.mapper.ReviewMapper">

	<select id="viewAllReview" resultType="com.project.www.review.dto.Review">
		select r.review_id,r.content, r.date, li.id, l.title 
		from review r, lecture l, listener li
		where r.listener_id = li.listener_id and r.lecture_id = l.lecture_id
	</select>

</mapper>