<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.www.member.mapper.MemberMapper">

	<!-- 로그인 하기 -->
	<select id="selectOne" resultType="com.project.www.member.dto.Member">
		<!-- select * from member where member_id = #{id} and password = #{password} -->
		select id, password from member where id = #{id}
	</select>
	
	<!-- 회원가입 하기 -->
	<insert id="insert" > <!-- insert의 반환 값 integer -> 1행, 2행 반환 한다 -->
		insert into member (member_id, name, password, email, birthday, address, gender, phone)
		values (#{id}, #{name}, #{password}, #{email}, #{birthday}, #{address}, #{gender}, #{phone})
		 
	</insert> 
	
	<!-- <select id="login" parameterType="String" resultType="int">
		select count(*) from member where member_id = #{member_id}
	</select> -->

</mapper>
